# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/
.venv/

# Data
data/raw/
data/processed/*.parquet
data/processed/*.csv

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/
